In [1]:
import pandas as pd

In [2]:
file = pd.read_csv("water.csv")

In [3]:
file.dtypes

Station Number         float64
State                   object
Temp Min               float64
Temp Max               float64
DO Min                 float64
DO Max                 float64
pH Min                 float64
pH Max                 float64
Conductivity Min       float64
Conductivity Max       float64
BOD Min                float64
BOD Max                float64
Nitrate Min            float64
Nitrate Max            float64
Faecal Coliform Min    float64
Faecal Coliform Max    float64
Total Coliform Min     float64
Total Coliform Max       int64
dtype: object

In [4]:
file

,Station Number,State,Temp Min,Temp Max,DO Min,DO Max,pH Min,pH Max,Conductivity Min,Conductivity Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Faecal Coliform Min,Faecal Coliform Max,Total Coliform Min,Total Coliform Max
0,1867.0,HIMACHAL\n PRADESH,9.0,12.0,9.7,10.1,6.80,8.00,92.0,366.0,0.1,0.2,0.2,0.200,2.0,2.0,20.0,20
1,2611.0,HIMACHAL\n PRADESH,9.0,12.0,9.7,10.1,6.70,7.90,84.0,327.0,0.1,0.5,0.2,0.500,2.0,2.0,20.0,20
2,1389.0,HIMACHAL\n PRADESH,12.0,17.0,9.1,9.6,6.80,8.10,92.0,330.0,0.1,0.5,0.2,0.400,2.0,2.0,20.0,20
3,1086.0,HIMACHAL\n PRADESH,14.0,17.0,8.8,9.8,6.96,7.99,107.0,309.0,0.1,0.4,0.2,0.340,2.0,2.0,21.0,21
4,1087.0,HIMACHAL\n PRADESH,14.0,17.0,8.7,9.2,6.91,8.04,102.0,298.0,0.1,0.2,0.2,0.513,2.0,2.0,25.0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,3020.0,TAMIL NADU,27.0,33.0,4.5,6.7,7.20,8.20,285.0,540.0,1.0,2.4,0.0,1.000,460.0,700.0,630.0,1100
1292,3021.0,TAMIL NADU,27.0,33.0,5.9,7.6,7.60,8.50,290.0,530.0,0.6,1.7,0.0,1.100,490.0,790.0,840.0,1400
1293,3024.0,TAMIL NADU,25.0,31.0,3.5,5.4,6.60,8.40,1900.0,3890.0,7.8,78.0,0.0,2.200,4900.0,5400000.0,9400.0,9400000
1294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92000000
1295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92000000

In [5]:
import numpy as np

In [6]:
file_proc = file.drop(['Conductivity Min','Conductivity Max','Total Coliform Min','Total Coliform Max'],axis= 1)

In [7]:
# file_proc[file_proc.isna().any(axis=1)]
file_penum = file_proc.dropna()

In [8]:
# duplicate
duplicateRowsDF = file_penum[file_penum.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [Station Number, State, Temp Min, Temp Max, DO Min, DO Max, pH Min, pH Max, BOD Min, BOD Max, Nitrate Min, Nitrate Max, Faecal Coliform Min, Faecal Coliform Max]
Index: []

In [9]:
file_penum

,Station Number,State,Temp Min,Temp Max,DO Min,DO Max,pH Min,pH Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Faecal Coliform Min,Faecal Coliform Max
0,1867.0,HIMACHAL\n PRADESH,9.0,12.0,9.7,10.1,6.80,8.00,0.1,0.2,0.2,0.200,2.0,2.0
1,2611.0,HIMACHAL\n PRADESH,9.0,12.0,9.7,10.1,6.70,7.90,0.1,0.5,0.2,0.500,2.0,2.0
2,1389.0,HIMACHAL\n PRADESH,12.0,17.0,9.1,9.6,6.80,8.10,0.1,0.5,0.2,0.400,2.0,2.0
3,1086.0,HIMACHAL\n PRADESH,14.0,17.0,8.8,9.8,6.96,7.99,0.1,0.4,0.2,0.340,2.0,2.0
4,1087.0,HIMACHAL\n PRADESH,14.0,17.0,8.7,9.2,6.91,8.04,0.1,0.2,0.2,0.513,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,1205.0,TAMIL NADU,26.0,34.0,4.8,7.6,7.00,8.50,0.4,2.4,0.0,1.600,130.0,1200.0
1290,3019.0,TAMIL NADU,24.0,33.0,4.8,7.7,6.80,8.10,0.7,6.6,0.0,1.300,120.0,1100.0
1291,3020.0,TAMIL NADU,27.0,33.0,4.5,6.7,7.20,8.20,1.0,2.4,0.0,1.000,460.0,700.0
1292,3021.0,TAMIL NADU,27.0,33.0,5.9,7.6,7.60,8.50,0.6,1.7,0.0,1.100,490.0,790.0
1293,3024.0,TAMIL NADU,25.0,31.0,3.5,5.4,6.60,8.40,7.8,78.0,0.0,2.200,4900.0,5400000.0

In [10]:
data = np.array(file_penum.iloc[:,2:14])

In [11]:
data

array([[9.0e+00, 1.2e+01, 9.7e+00, ..., 2.0e-01, 2.0e+00, 2.0e+00],
       [9.0e+00, 1.2e+01, 9.7e+00, ..., 5.0e-01, 2.0e+00, 2.0e+00],
       [1.2e+01, 1.7e+01, 9.1e+00, ..., 4.0e-01, 2.0e+00, 2.0e+00],
       ...,
       [2.7e+01, 3.3e+01, 4.5e+00, ..., 1.0e+00, 4.6e+02, 7.0e+02],
       [2.7e+01, 3.3e+01, 5.9e+00, ..., 1.1e+00, 4.9e+02, 7.9e+02],
       [2.5e+01, 3.1e+01, 3.5e+00, ..., 2.2e+00, 4.9e+03, 5.4e+06]])

In [12]:
data.shape

(1291, 12)

In [13]:
data[:5,:]

array([[ 9.   , 12.   ,  9.7  , 10.1  ,  6.8  ,  8.   ,  0.1  ,  0.2  ,
         0.2  ,  0.2  ,  2.   ,  2.   ],
       [ 9.   , 12.   ,  9.7  , 10.1  ,  6.7  ,  7.9  ,  0.1  ,  0.5  ,
         0.2  ,  0.5  ,  2.   ,  2.   ],
       [12.   , 17.   ,  9.1  ,  9.6  ,  6.8  ,  8.1  ,  0.1  ,  0.5  ,
         0.2  ,  0.4  ,  2.   ,  2.   ],
       [14.   , 17.   ,  8.8  ,  9.8  ,  6.96 ,  7.99 ,  0.1  ,  0.4  ,
         0.2  ,  0.34 ,  2.   ,  2.   ],
       [14.   , 17.   ,  8.7  ,  9.2  ,  6.91 ,  8.04 ,  0.1  ,  0.2  ,
         0.2  ,  0.513,  2.   ,  2.   ]])

In [14]:
final_col_list = []
for i in range(0,12,2):
    col_mean = (data[:,i] + data[:,i+1])/2
    final_col_list.append(col_mean)

# transpose this
tmp_arr = np.array(final_col_list)

In [15]:
# convert this to pandas dataframe
tmp_arr.T

array([[1.05000e+01, 9.90000e+00, 7.40000e+00, 1.50000e-01, 2.00000e-01,
        2.00000e+00],
       [1.05000e+01, 9.90000e+00, 7.30000e+00, 3.00000e-01, 3.50000e-01,
        2.00000e+00],
       [1.45000e+01, 9.35000e+00, 7.45000e+00, 3.00000e-01, 3.00000e-01,
        2.00000e+00],
       ...,
       [3.00000e+01, 5.60000e+00, 7.70000e+00, 1.70000e+00, 5.00000e-01,
        5.80000e+02],
       [3.00000e+01, 6.75000e+00, 8.05000e+00, 1.15000e+00, 5.50000e-01,
        6.40000e+02],
       [2.80000e+01, 4.45000e+00, 7.50000e+00, 4.29000e+01, 1.10000e+00,
        2.70245e+06]])

In [125]:
# final_preprocessed data
final_df = pd.DataFrame(tmp_arr.T,columns = ['Temp','DO','pH','BOD','Nitrate','Faecal Coliform'])
final_df

      Temp    DO     pH    BOD  Nitrate  Faecal Coliform
0     10.5  9.90  7.400   0.15   0.2000              2.0
1     10.5  9.90  7.300   0.30   0.3500              2.0
2     14.5  9.35  7.450   0.30   0.3000              2.0
3     15.5  9.30  7.475   0.25   0.2700              2.0
4     15.5  8.95  7.475   0.15   0.3565              2.0
...    ...   ...    ...    ...      ...              ...
1286  30.0  6.20  7.750   1.40   0.8000            665.0
1287  28.5  6.25  7.450   3.65   0.6500            610.0
1288  30.0  5.60  7.700   1.70   0.5000            580.0
1289  30.0  6.75  8.050   1.15   0.5500            640.0
1290  28.0  4.45  7.500  42.90   1.1000        2702450.0

[1291 rows x 6 columns]

In [118]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# final_df = pd.DataFrame(scaler.fit_transform(final_df),columns = ['Temp','DO','pH','BOD','Nitrate','Faecal Coliform'])
# final_df

## Initial Weights as in paper
- Temp - 0.10
- DO - 0.17
- pH - 0.11
- BOD - 0.11
- Nitrate - 0.10
- Faecal Coliform - 0.16

## Initial weights adjusted
- Temp - 0.1333333333333333
- DO - 0.2266666666666667
- pH - 0.1466666666666667
- BOD - 0.1466666666666667
- Nitrate - 0.1333333333333333
- Faecal Coliform - 0.2133333333333333

Water Quality Index

	WQI is computed for each factor as the product of Q-value and weighting factor. 

WQI = Q-value x Weighting factor

The overall WQI is the weighted average of all Q-values:

Overall WQI = (Q-value x Weighting factor) / Weighting factors

In [100]:
# Initial factor values for each factor
weight_factor = np.array([0.1333333333333333,0.2266666666666667,0.1466666666666667,0.1466666666666667,0.1333333333333333,0.2133333333333333]).reshape(6,1)

In [68]:
map_do = {(0,5):[2,5],(5,10):[5,7],(10,15):[7,10],(15,20):[5,7],(15,20):[10,12],
           (20,25):[12,15],(25,30):[15,19],(30,35):[19,23],
           (35,40):[23,30],(40,45):[30,37],(45,50):[37,44],
           (50,55):[44,51],(55,60):[51,57],(60,65):[57,66],
           (65,70):[66,75],(70,75):[75,81],
           (75,80):[81,87],(80,85):[87,91],
           (85,90):[91,95],(90,95):[95,98],
           (95,100):[98,99],(100,105):[99,98],
           (105,110):[98,96],(110,115):[96,93],
           (115,120):[93,90],(120,125):[90,87],
           (125,130):[87,84],(130,135):[84,81],
           (135,140):[81,78]}

def q_do(val):
  if val > 140:
    return 50
  for range in map_do:
    if val == range[0]:
      return map_do[range][0]
    elif val == range[1]:
      return map_do[range][1]
    elif  range[0] < val < range[1]:
      diff = (map_do[range][1] - map_do[range][0])/(range[1]-range[0])
      res =  map_do[range][0] + diff * (val - range[0])
      return res
print(q_do(9))

6.6

In [69]:
map_ph = {(2.2,2.4):[2,3],(2.4,2.6):[3,3],(2.6,2.8):[3,4],
          (2.8,3):[4,4],(3,3.2):[4,5],(3.2,3.4):[5,6],
          (3.4,3.6):[6,7],(3.6,3.8):[7,8],(3.8,4):[8,9],
          (4,4.2):[9,11],(4.2,4.4):[11,14],(4.4,4.6):[14,17],
          (4.6,4.8):[17,20],(4.8,5):[20,27],(5,5.2):[27,33],
          (5.2,5.4):[33,38],(5.4,5.6):[38,44],(5.6,5.8):[44,49],
          (5.8,6):[49,55],(6,6.2):[55,60],(6.2,6.4):[60,68],
          (6.4,6.6):[68,75],(6.6,6.8):[75,83],(6.8,7):[83,88],
          (7,7.2):[88,92],(7.2,7.4):[92,92],(7.4,7.6):[92,92],
          (7.6,7.8):[92,90],(7.8,8):[90,84],(8,8.2):[84,77],
          (8.2,8.4):[77,70],(8.4,8.6):[70,63],(8.6,8.8):[63,56],
          (8.8,9):[56,49],(9,9.2):[49,42],(9.2,9.4):[42,36],
          (9.4,9.6):[36,29],(9.6,9.8):[29,24],(9.8,10):[24,20],
          (10,10.2):[20,17],(10.2,10.4):[17,14],(10.4,10.6):[14,12],
          (10.6,10.8):[12,10],(10.8,11):[10,8],(11,11.2):[8,7],
          (11.2,11.4):[7,6],(11.4,11.6):[6,5],(11.6,11.8):[5,4],
          (11.8,12):[4,3]}

def q_ph(val):
  if val < 2 or val > 12:
    return 0
  for range in map_ph:
    if val == range[0]:
      return map_ph[range][0]
    elif val == range[1]:
      return map_ph[range][1]
    elif range[0] < val < range[1]:
      diff = (map_ph[range][1]-map_ph[range][0]) / (range[1]-range[0])
      return map_ph[range][0]+diff*(val-range[0])

In [70]:
map_bod = {(0,1):[100,95],(1,2):[95,80],(2,3):[80,67],
            (3,4):[67,61],(4,5):[61,56],(5,6):[56,51],
            (6,7):[51,46],(7,8):[46,42],(8,9):[42,38],
            (9,10):[38,34],(10,11):[34,30],(11,12):[30,28],(12,13):[28,25],
            (13,14):[25,23],(14,15):[23,20],(15,16):[20,18],(16,17):[18,16],
            (17,18):[16,14],(18,19):[14,13],(19,20):[13,12],
            (20,21):[12,11],(21,22):[11,10],(22,23):[10,9],(23,24):[9,8],
            (24,25):[8,7],(25,26):[7,7],(26,27):[7,6],(27,28):[6,6],
            (28,29):[6,5],(29,30):[5,5]
            }
def q_bod(val):
  if val > 30:
    return 2
  for range in map_bod:
    if val == range[0]:
      return map_bod[range][0]
    elif val == range[1]:
      return map_bod[range][1]
    elif range[0] < val < range[1]:
      diff = (map_bod[range][1]-map_bod[range][0]) / (range[1]-range[0])
      return map_bod[range][0]+diff*(val-range[0])
      [range][0]+diff*(val-range[0])
print(q_bod(2.5))

73.5

In [71]:
map_faecal = {(1,2):[99,91],(2,3):[91,86],(3,4):[86,82],(4,5):[82,80],
              (5,6):[80,78],(6,7):[78,76],(7,8):[76,74],(8,9):[74,73],
              (9,10):[73,72],(10,20):[72,63],(20,30):[63,58],(30,40):[58,55],
              (40,50):[55,52],(50,60):[52,50],(60,70):[50,48],(70,80):[48,47],
              (80,90):[47,45],(90,100):[45,44],(100,200):[44,37],(200,300):[37,34],
              (300,400):[34,31],(400,500):[31,29],(500,600):[29,27],(600,700):[27,25],
              (700,800):[25,24],(800,900):[24,23],(900,1000):[23,22],(1000,2000):[22,18],
              (2000,3000):[18,16],(3000,4000):[16,15],(4000,5000):[15,14],
              (5000,6000):[14,13],(6000,7000):[13,12],(7000,8000):[12,11],(8000,9000):[11,11],
              (9000,10000):[11,10],(10000,20000):[10,8],(20000,30000):[8,7],
              (30000,40000):[7,6],(40000,50000):[6,6],(50000,60000):[6,5],
              (60000,70000):[5,5],(70000,80000):[5,5],(80000,90000):[5,4],
              (90000,100000):[4,4]
              }

def q_faecal(val):
    if val > 100000:
        return 2
    if val <= 0:
        return 99
    for range in map_faecal:
        if val == range[0]:
            return map_faecal[range][0]
        elif val == range[1]:
            return map_faecal[range][1]
        elif range[0] < val < range[1]:
            diff = (map_faecal[range][1]-map_faecal[range][0]) / (range[1]-range[0])
            return map_faecal[range][0]+diff*(val-range[0])
# print(q_faecal(2))

In [72]:
map_nitrate = {(0,1):[97,96],(1,2):[96,95],(2,3):[95,90],(3,4):[90,70],
               (4,5):[70,65],(5,6):[65,60],(6,7):[60,58],(7,8):[58,56],
               (8,9):[56,53],(9,10):[53,51],(10,12):[51,48],(12,14):[48,45],
               (14,16):[45,42],(16,18):[42,39],(18,20):[39,37],(20,22):[37,35],
               (22,24):[35,33],(24,26):[33,31],(26,28):[31,29],(28,30):[29,27],
               (30,32):[27,25],(32,34):[25,23],(34,36):[23,21],(36,38):[21,19],
               (38,40):[19,18],(40,42):[18,16],(42,44):[16,15],(44,46):[15,13],
               (46,48):[13,12],(48,50):[12,10],(50,52):[10,9],(52,54):[9,8],
               (54,56):[8,8],(56,58):[8,7],(58,60):[7,7],(60,62):[7,6],
               (62,64):[6,6],(64,66):[6,6],(66,68):[6,5],(68,70):[5,5],
               (70,80):[5,4],(80,90):[4,3],(90,100):[3,3]
}
def q_nitrate(val):
  if val > 100:
    return 1
  for range in map_nitrate:
    if val == range[0]:
      return map_nitrate[range][0]
    elif val == range[1]:
      return map_nitrate[range][1]
    elif range[0] < val < range[1]:
      diff = (map_nitrate[range][1]-map_nitrate[range][0]) / (range[1]-range[0])
      return map_nitrate[range][0]+diff*(val-range[0])

# print(q_nitrate(101))

In [73]:
map_temp={(-10, -9): [55,59],
 (-9, -8): [59,63],
 (-8, -7): [63,66],
 (-7, -6): [66,70],
 (-6, -5): [70,74],
 (-5, -4): [74,78],
 (-4, -3): [78,82],
 (-3, -2): [82,85],
 (-2, -1): [85,89],
 (-1, 0): [89,93],
 (0, 1): [93,89],
 (1, 2): [89,85],
 (2, 3): [85,81],
 (3, 4): [81,77],
 (4, 5): [77,73],
 (5, 6): [73,67],
 (6, 7): [67,61],
 (7, 8): [61,56],
 (8, 9): [56,50],
 (9, 10): [50,45],
 (10, 11): [45,40],
 (11, 12): [40,36],
 (12, 13): [36,34],
 (13, 14): [34,33],
 (14, 15): [33,31],
 (15, 16): [31,29],
 (16, 17): [29,27],
 (17, 18): [27,26],
 (18, 19): [26,24],
 (19, 20): [24,22],
 (20, 21): [22,20],
 (21, 22): [20,19],
 (22, 23): [19,18],
 (23, 24): [18,17],
 (24, 25): [17,16],
 (25, 26): [16,14],
 (26, 27): [14,13],
 (27, 28): [13,12],
 (28, 29): [12,11],
 (29, 30): [11,10],}



def q_temp(val):
  if val > 30:
    return 10
  if val < -10:
    return 55
  for range in map_temp:
    if val == range[0]:
      return map_temp[range][0]
    elif val == range[1]:
      return map_temp[range][1]
    elif range[0] < val < range[1]:
      diff = (map_temp[range][1]-map_temp[range][0]) / (range[1]-range[0])
      return map_temp[range][0]+diff*(val-range[0])

In [116]:
# numpy array
# Temp	DO	pH	BOD	Nitrate	Faecal Coliform

temp_df = final_df.copy(deep=True)

temp_df['Temp'] = [q_temp(i) for i in temp_df['Temp']]
temp_df['DO'] = [q_do(i) for i in temp_df['DO']]
temp_df['pH'] = [q_ph(i) for i in temp_df['pH']]
temp_df['BOD'] = [q_bod(i) for i in temp_df['BOD']]
temp_df['Nitrate'] = [q_nitrate(i) for i in temp_df['Nitrate']]
temp_df['Faecal Coliform'] = [q_faecal(i) for i in temp_df['Faecal Coliform']]
print(temp_df)

      Temp    DO     pH    BOD  Nitrate  Faecal Coliform
0     42.5  6.96  92.00  99.25  96.8000             91.0
1     42.5  6.96  92.00  98.50  96.6500             91.0
2     32.0  6.74  92.00  98.50  96.7000             91.0
3     30.0  6.72  92.00  98.75  96.7300             91.0
4     30.0  6.58  92.00  99.25  96.6435             91.0
...    ...   ...    ...    ...      ...              ...
1286  10.0  5.48  90.50  89.00  96.2000             25.7
1287  11.5  5.50  92.00  63.10  96.3500             26.8
1288  10.0  5.24  91.00  84.50  96.5000             27.4
1289  10.0  5.70  82.25  92.75  96.4500             26.2
1290  12.0  4.67  92.00   2.00  95.9000              2.0

[1291 rows x 6 columns]

In [75]:
final_df[] = temp_df[temp_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Temp, DO, pH, BOD, Nitrate, Faecal Coliform]
Index: []

In [120]:
final_df['WQI'] = np.dot(temp_df.values,weight_factor)

      Temp    DO     pH    BOD
0     10.5  9.90  7.400   0.15
1     10.5  9.90  7.300   0.30
2     14.5  9.35  7.450   0.30
3     15.5  9.30  7.475   0.25
4     15.5  8.95  7.475   0.15
...    ...   ...    ...    ...
1286  30.0  6.20  7.750   1.40
1287  28.5  6.25  7.450   3.65
1288  30.0  5.60  7.700   1.70
1289  30.0  6.75  8.050   1.15
1290  28.0  4.45  7.500  42.90

[1291 rows x 4 columns]

In [161]:
temp_df1['Temp'] = [q_temp(i) for i in temp_df1['Temp']]
temp_df1['DO'] = [q_do(i) for i in temp_df1['DO']]
temp_df1['pH'] = [q_ph(i) for i in temp_df1['pH']]
temp_df1['BOD'] = [q_bod(i) for i in temp_df1['BOD']]

In [265]:
weight_factor_xfac = np.array([0.1333333333333333,0.2266666666666667,0.1466666666666667,0.1466666666666667,0.1333333333333333,0.2133333333333333]).reshape(6,1)

temp_df1 = final_df.copy(deep = True)

temp_df2 = final_df.copy(deep = True)

temp_df1['Temp'] = [q_temp(i) for i in temp_df1['Temp']]
temp_df1['DO'] = [q_do(i) for i in temp_df1['DO']]
temp_df1['pH'] = [q_ph(i) for i in temp_df1['pH']]
temp_df1['BOD'] = [q_bod(i) for i in temp_df1['BOD']]
temp_df1['Nitrate'] = [q_nitrate(i) for i in temp_df1['Nitrate']]
temp_df1['Faecal Coliform'] = [q_faecal(i) for i in temp_df1['Faecal Coliform']]

temp_df2['WQI'] = np.dot(temp_df1.values,weight_factor_xfac)/np.sum(weight_factor_xfac)

In [268]:
import math
temp_df2['Faecal Coliform Log'] = np.log10(temp_df2['Faecal Coliform'])

C:\Users\nkshe\Anaconda3\lib\site-packages\pandas\core\series.py:853: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [197]:
max(temp_df2['WQI'])

62.21322033898304

In [185]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression as lr

In [262]:
temp_df3 = temp_df2.copy(deep=True)
data_final = temp_df3.values
# np.random.shuffle(data_final)
X = data_final[:,:-1]; y = data_final[:,-1]
Xtrain,Xtest,ytrain,ytest = train_test_split(X, y ,test_size = 0.20)

In [263]:
model = lr()
model.fit(Xtrain,ytrain)
model.score(Xtest,ytest)

0.34804709731536837

In [264]:
print(model.coef_)

[-0.21072783  1.05196637 -1.50795187 -0.11472346 -0.05877419]